
<footer id="footer" class="clearfix">
  <div class="container">
    <div class="footer-top row">
      <div class="menu-section col-xs-6 col-sm-12 col-md-7">
        <div class="row">
          <nav class="col-sm-4">
            <h5>О Поделкине</h5>
            <ul>
              <li><a>Главная</a></li>
              <li><a>Новости</a></li>
              <li><a>Цены</a></li>
              <li><a>Наши клиенты</a></li>
              <li><a>Наша команда</a></li>
              <li><a>Контакты</a></li>
            </ul>
          </nav>
          <nav class="col-sm-4">
            <h5>Мастер классы</h5>
            <ul>
              <li><a>Рукоделие</a></li>
              <li><a>Роспись</a></li>
              <li><a>Декорирование</a></li>
              <li><a>Кулинария</a></li>
              <li><a>Анимация</a></li>
              <li><a>Новый год</a></li>
            </ul>
          </nav>
          <nav class="col-sm-4">
            <h5>Дополнительно</h5>
            <ul>
              <li><a>Новости</a></li>
              <li><a>Публикации в прессе</a></li>
              <li><a>Мероприятия</a></li>
              <li><a>Полезные статьи</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="soc-links col-xs-6 col-sm-12 col-md-5">
        <div class="row">
          <h5>Мы в сетях:</h5>
          <div class="soc-links-col col-sm-5 col-md-6"><a href="#"><i class="sprite sprite-soc-vk"></i><span>Мы в Vkontakte</span></a><a href="#"><i class="sprite sprite-soc-fb"></i><span>Мы в Facebook</span></a><a href="#"><i class="sprite sprite-soc-youtube"></i><span>Мы в YouTube</span></a></div>
          <div class="soc-links-col col-sm-5 col-md-6"><a href="#"><i class="sprite sprite-soc-instagram"></i><span>Мы в Instagram</span></a><a href="#"><i class="sprite sprite-soc-ok"></i><span>Мы в Одноклассники</span></a><a href="#"><i class="sprite sprite-soc-forsquare"></i><span>Мы в Forsquare</span></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="container">
      <p>Творческая студия "Мастер Поделкин" готова предложить вам самые невероятные выездные занятия в формате handmade. Благодаря им, вы не только организуете интересный и увлекательный досуг,  но и поможете открыть творческие задатки каждого участника. Наши выездные мастер-классы будут полезны и интересны как детям, так и взрослым. Как показывает практика,  выездные мастер-классы актуальны и востребованы на свадьбе, дне рожднения, корпоративном мероприятии или детском празднике как полноценное развлечение на праздник наряду с активными игровыми программами, конкурсами и номерами оригинального жанра.<a href="#">|Подробнее...|</a></p>
    </div>
  </div>
</footer>