
<header id="header">
  <div class="container">
    <div class="header-top row">
      <div class="col-md-6 header-left">
        <div class="row">
          <div class="col-md-5 col-sm-6"><a href="#" class="logo"><img src="/img/logo.png" class="img-responsive"/></a></div>
          <div class="col-md-7 col-sm-6">
            <div class="info-block address-block"><i class="sprite sprite-compass"></i>
              <div class="info-text">
                Москва, Маяковский пр. 45
                <br><a href="#">посмотреть на карте</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 header-right">
        <div class="row">
          <div class="col-md-5 col-sm-6 btn-callback-container">
            <button class="btn btn-callback">Заказать звонок</button>
          </div>
          <div class="col-md-7 col-sm-6">
            <div class="info-block phone-block"><i class="sprite sprite-headphones"></i>
              <div class="info-text">
                <h4>8 (495) 721-52-47</h4><small>с 10:00 до 20:00 ежедневно</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand visible-xs"><img src="/img/logo.png"/></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">О студии</a></li>
          <li><a href="#about">Новости</a></li>
          <li><a href="#contact">Мастер классы</a></li>
          <li><a href="#contact">Цены</a></li>
          <li><a href="#contact">Наши клиенты</a></li>
          <li><a href="#contact">Наша команда</a></li>
          <li><a href="#contact">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>