
<main class="main-section"><img src="/img/instagram_tmp.png" class="img-responsive"/>
  <h3 class="page-title">Новости</h3>
  <div class="news-section">
    <div class="news-item"><img src="/img/news_tmp.png" class="news-thumb"/>
      <div class="news-content">
        <h4><a href="#">Обновление серии мастерклассов</a></h4>
        <div class="news-text">
          <p>«Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.</p>
        </div>
        <div class="date">12 сентября 2014</div>
      </div>
    </div>
    <div class="news-item"><img src="/img/news_tmp.png" class="news-thumb"/>
      <div class="news-content">
        <h4><a href="#">Обновление серии мастерклассов</a></h4>
        <div class="news-text">
          <p>«Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.</p>
        </div>
        <div class="date">12 сентября 2014</div>
      </div>
    </div>
    <div class="news-item"><img src="/img/news_tmp.png" class="news-thumb"/>
      <div class="news-content">
        <h4><a href="#">Обновление серии мастерклассов</a></h4>
        <div class="news-text">
          <p>«Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.</p>
        </div>
        <div class="date">12 сентября 2014</div>
      </div>
    </div>
    <div class="news-item"><img src="/img/news_tmp.png" class="news-thumb"/>
      <div class="news-content">
        <h4><a href="#">Обновление серии мастерклассов</a></h4>
        <div class="news-text">
          <p>«Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.</p>
        </div>
        <div class="date">12 сентября 2014</div>
      </div>
    </div>
  </div>
  <div class="paginator"><a class="page-left"><i href="#" class="sprite sprite-arrow-left"></i></a>
    <ul>
      <li class="active"><a>1</a></li>
      <li><a>2</a></li>
      <li><a>3</a></li>
      <li><a>4</a></li>
    </ul><a class="page-right"><i href="#" class="sprite sprite-arrow-right"></i></a>
  </div>
</main>