
<aside class="sidebar-right">
  <button class="btn btn-mail">Написать нам</button>
  <div class="download-item"><a href="#">Скачать презентацию</a>
    <div class="filesize">(1,2 mb)</div>
  </div>
  <div class="download-item"><a href="#">Скачать прайс</a>
    <div class="filesize">(0,4 mb)</div>
  </div>
  <div class="soc-section">
    <div class="soc-item"><img src="/img/vk_tmp.png" class="img-responsive"/></div>
    <div class="soc-item"><img src="/img/fb_tmp.png" class="img-responsive"/></div>
    <div class="soc-item"><img src="/img/ok_tmp.png" class="img-responsive"/></div>
  </div>
</aside>