
<aside class="sidebar-left">
  <div class="categories">
    <div class="category-section">
      <h2>Мастер классы handmade:</h2>
      <ul>
        <li><a href="#">Мыловарение</a></li>
        <li><a href="#">Гелевые свечи</a></li>
        <li><a href="#">Бижутерия, украшения</a></li>
        <li><a href="#">Бумажная пластика</a></li>
        <li><a href="#">Оригами</a></li>
        <li><a href="#">Мыловарение</a></li>
        <li><a href="#">Гелевые свечи</a></li>
        <li><a href="#">Бижутерия, украшения</a></li>
        <li><a href="#">Бумажная пластика</a></li>
        <li><a href="#">Оригами</a></li>
      </ul><a class="more-categories"><span class="text">показать все</span><span class="arr">&darr;</span></a>
    </div>
    <div class="category-section">
      <h2>Мастер-классы по росписи:</h2>
      <ul>
        <li><a href="#">Пряники имбырные</a></li>
        <li><a href="#">Банданы</a></li>
        <li><a href="#">Бейсболки</a></li>
        <li><a href="#">Галстуки</a></li>
        <li><a href="#">Футболки</a></li>
      </ul><a class="more-categories"><span class="text">показать все</span><span class="arr">&darr;</span></a>
    </div>
    <div class="category-section">
      <h2>Мастер-классы по декорированию:</h2>
      <ul>
        <li><a href="#">Декупаж</a></li>
        <li><a href="#">Волшебные палочки</a></li>
        <li><a href="#">Вуалетки</a></li>
        <li><a href="#">Карнавальные маски</a></li>
        <li><a href="#">Веера</a></li>
      </ul><a class="more-categories"><span class="text">показать все</span><span class="arr">&darr;</span></a>
    </div>
    <div class="category-section">
      <h2>Вкусныё мастер-классы:</h2>
      <ul>
        <li><a href="#">Кулинарный курс</a></li>
        <li><a href="#">Суши</a></li>
        <li><a href="#">Тирамису</a></li>
        <li><a href="#">Роспись пряников, куличей, блинов</a></li>
        <li><a href="#">Шоколадные конфеты</a></li>
      </ul><a class="more-categories"><span class="text">показать все</span><span class="arr">&darr;</span></a>
    </div>
    <div class="category-section">
      <h2>Анимация, активности:</h2>
      <ul>
        <li><a href="#">Акваргрим, боди-арт, тату</a></li>
        <li><a href="#">Твистинг</a></li>
        <li><a href="#">Плетение косичек</a></li>
        <li><a href="#">Висаж, прически</a></li>
        <li><a href="#">Шаржист, художник</a></li>
      </ul><a class="more-categories"><span class="text">показать все</span><span class="arr">&darr;</span></a>
    </div>
  </div>
  <div class="banner-rectangle">Хочешь интересно провести время?<br>Мастер-классы в студии&nbsp;<a href="http://podelkinclub.ru">Podelkinclub.ru</a></div>
</aside>