/**********************************
* VARIABLES
**********************************/
/**********************************
* FONTS
**********************************/
@font-face {
  font-family: 'trebuc';
  src: url("../fonts/trebuc.eot");
  src: local('Trebuchet MS'), url("../fonts/trebuc.woff") format('woff'), url("../fonts/trebuc.ttf") format('truetype');
}
@font-face {
  font-family: 'pf_kids';
  src: url("../fonts/PFKidsProGradeOne.eot");
  src: url("../fonts/PFKidsProGradeOne.eot") format('embedded-opentype'), url("../fonts/PFKidsProGradeOne.woff2") format('woff2'), url("../fonts/PFKidsProGradeOne.woff") format('woff'), url("../fonts/PFKidsProGradeOne.ttf") format('truetype'), url("../fonts/PFKidsProGradeOne.svg#PFKidsProGradeOne") format('svg');
}
/**********************************
* SPRITES
**********************************/
.sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}
.sprite-arrow-left {
  width: 9px;
  height: 13px;
  background-position: 0 0;
}
.sprite-arrow-right {
  width: 9px;
  height: 13px;
  background-position: -9px 0;
}
.sprite-compass {
  width: 46px;
  height: 46px;
  background-position: -18px 0;
}
.sprite-headphones {
  width: 46px;
  height: 46px;
  background-position: -64px 0;
}
.sprite-soc-fb {
  width: 28px;
  height: 28px;
  background-position: -110px 0;
}
.sprite-soc-forsquare {
  width: 25px;
  height: 25px;
  background-position: -138px 0;
}
.sprite-soc-instagram {
  width: 25px;
  height: 25px;
  background-position: -163px 0;
}
.sprite-soc-ok {
  width: 27px;
  height: 27px;
  background-position: -190px 0;
}
.sprite-soc-vk {
  width: 27px;
  height: 27px;
  background-position: -217px 0;
}
.sprite-soc-youtube {
  width: 28px;
  height: 27px;
  background-position: -244px 0;
}
/**********************************
* MAIN STYLES
**********************************/
body {
  background: #fbfbfb;
  background-image: url("../img/bg.png");
  font: 13px/16px 'trebuc';
  color: #333;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 14px;
}
.pf-kids {
  font-family: 'pf_kids';
}
.container {
  padding-left: 5px;
  padding-right: 5px;
}
.row {
  margin-left: -5px;
  margin-right: -5px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus,
.btn:active {
  outline: none;
}
.wrapper {
  width: 1068px;
  margin: -10px auto 0;
  z-index: 9;
  background: #fff;
  -webkit-box-shadow: 0 1px 8px rgba(0,1,3,0.27);
  box-shadow: 0 1px 8px rgba(0,1,3,0.27);
}
a {
  color: #d00039;
}
a:hover {
  color: #a4036e;
}
a:hover {
  cursor: pointer;
}
.sidebar-left,
.main-section,
.sidebar-right {
  float: left;
  padding: 0 5px;
}
.main-container {
  padding: 43px 0;
  -webkit-box-shadow: 0px 1px 40px #f1f1f1;
  box-shadow: 0px 1px 40px #f1f1f1;
}
/**********************************
* header
**********************************/
#header {
  position: relative;
  min-height: 182px;
  padding: 12px 22px;
  background: url("../img/header_bg.png") repeat-x;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  color: #fff;
  z-index: 10;
}
.header-top {
  margin-bottom: 29px;
}
.info-block {
  padding: 22px 0 0 26px;
}
.info-block i {
  display: inline-block;
}
.info-block .info-text {
  display: inline-block;
  padding-top: 12px;
  padding-left: 7px;
  font-size: 14px;
  vertical-align: top;
}
.info-block .info-text h4 {
  margin: 0 0 5px;
  line-height: 100%;
}
.info-block .info-text a,
.info-block .info-text small {
  font-size: 12px;
  color: #fff;
}
.phone-block {
  padding-left: 55px;
}
.btn-callback {
  margin-top: 35px;
  margin-left: 32px;
  padding: 3px 26px;
  color: #333;
  font-size: 18px;
  background: #ffe138;
  background: -webkit-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: -moz-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: -o-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: -ms-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: linear-gradient(to bottom, #ffe554 0%, #ffde28 100%);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.47);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.47);
}
.btn-callback:hover,
.btn-callback:active {
  color: #a4036e;
  background: -webkit-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: -moz-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: -o-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: -ms-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: linear-gradient(to bottom, #ffde28 0%, #ffe554 100%);
}
.navbar {
  background: #fff;
  min-height: 42px;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 2px 0px rgba(0,1,3,0.55);
  box-shadow: 0px 2px 0px rgba(0,1,3,0.55);
}
.navbar-collapse {
  padding: 0;
}
.navbar-nav li a {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 17px;
  padding-right: 17px;
  font-family: 'pf_kids';
  font-size: 24px;
  color: #333;
}
.navbar-nav li:first-child a {
  padding-left: 23px;
}
.navbar-brand {
  padding: 0 15px;
  height: inherit;
}
/**********************************
* sidebar-left
**********************************/
.sidebar-left {
  float: left;
  width: 28%;
  padding-right: 10px;
}
.sidebar-left h2 {
  margin: 0 0 12px;
  font-family: 'pf_kids';
  line-height: 1;
}
.category-section {
  margin-bottom: 42px;
}
.category-section ul {
  max-height: 90px;
  overflow: hidden;
  list-style: none;
  margin-bottom: 22px;
  padding-left: 0;
}
.category-section .open {
  max-height: 100%;
}
.category-section li {
  padding-bottom: 4px;
}
.category-section a {
  text-decoration: underline;
}
.category-section a:hover {
  text-decoration: none;
}
.category-section .more-categories {
  text-decoration: none;
}
.category-section .more-categories .text {
  margin-right: 5px;
  border-bottom: 1px dotted #d00039;
}
.category-section .more-categories:hover .text {
  border-bottom: none;
}
.banner-rectangle {
  background: url("../img/banner_stroke.png") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  font: 24px/28px 'pf_kids';
  padding: 30px 22px;
  margin-left: -20px;
}
.banner-rectangle a {
  display: block;
  color: #232323;
}
/**********************************
* main-section
**********************************/
.main-section {
  width: 55%;
  padding: 0 12px;
}
.page-title {
  margin-bottom: 28px;
}
.news-item {
  display: table;
  margin-bottom: 8px;
  padding: 7px 7px 16px;
  border: 1px solid rgba(200,200,200,0.35);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.news-thumb {
  display: table-cell;
  width: 83px;
  height: 83px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 18px;
}
.news-content {
  display: table-cell;
  vertical-align: top;
}
.news-content h4 {
  margin-top: 5px;
  margin-bottom: 16px;
  color: #d93260;
}
.news-content h4 a {
  text-decoration: underline;
}
.news-content h4 a:hover {
  text-decoration: none;
}
.news-content .news-text {
  color: #000;
  margin-bottom: 12px;
}
.news-content .date {
  color: #999;
}
.paginator {
  overflow: auto;
  margin: 18px 0;
}
.paginator .page-left {
  float: left;
  width: 5%;
}
.paginator .page-right {
  float: right;
  width: 5%;
}
.paginator .page-right i {
  float: right;
}
.paginator ul {
  float: left;
  width: 90%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.paginator ul li {
  margin: 0px;
  min-width: 20px;
  line-height: 20px;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.paginator ul li a {
  display: block;
  font-size: 14px;
  color: #333;
}
.paginator ul li a:hover {
  text-decoration: none;
}
.paginator ul li.active {
  background: #8ac73b;
}
.paginator ul li.active a {
  color: #fff;
}
/**********************************
* sidebar-right
**********************************/
.sidebar-right {
  width: 17%;
}
.btn-mail {
  width: 100%;
  background: -webkit-linear-gradient(top, #ffe553 0%, #ffdf2a 100%);
  background: -moz-linear-gradient(top, #ffe553 0%, #ffdf2a 100%);
  background: -o-linear-gradient(top, #ffe553 0%, #ffdf2a 100%);
  background: -ms-linear-gradient(top, #ffe553 0%, #ffdf2a 100%);
  background: linear-gradient(to bottom, #ffe553 0%, #ffdf2a 100%);
  padding: 3px 0;
  font: 20px 'pf_kids';
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.47);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.47);
}
.btn-mail:active,
.btn-mail:hover {
  color: #a4036e;
  background: -webkit-linear-gradient(top, #ffdf2a 0%, #ffe553 100%);
  background: -moz-linear-gradient(top, #ffdf2a 0%, #ffe553 100%);
  background: -o-linear-gradient(top, #ffdf2a 0%, #ffe553 100%);
  background: -ms-linear-gradient(top, #ffdf2a 0%, #ffe553 100%);
  background: linear-gradient(to bottom, #ffdf2a 0%, #ffe553 100%);
}
.download-item {
  margin: 18px 0;
}
.download-item a {
  text-decoration: underline;
}
.download-item a:hover {
  text-decoration: none;
}
.download-item .filesize {
  margin-top: 2px;
  color: #999;
}
.soc-item {
  margin-bottom: 10px;
}
/**********************************
* Footer
**********************************/
.footer-top {
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
  color: #111970 !important;
  font-size: 14px;
}
.footer-top nav {
  padding-left: 14px;
}
.footer-top nav:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  height: 140px;
  border-left: 1px solid #e1e1e1;
}
.footer-top h5 {
  margin: 8px 0 14px;
  font-weight: bold;
}
.footer-top ul {
  padding: 0;
  list-style: none;
}
.footer-top ul li {
  margin-bottom: 4px;
}
.footer-top a {
  color: inherit;
}
.soc-links a {
  display: block;
  margin-bottom: 5px;
}
.soc-links a i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
}
.soc-links a span {
  display: inline-block;
  vertical-align: middle;
}
.soc-links a:hover span {
  text-decoration: underline;
}
.about {
  padding: 20px 0;
  background: #80bf3a;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
.about .container {
  padding: 0 18px;
}
.about a {
  margin: 0 2px;
  color: inherit;
}
/**********************************
* MEDIA QUERIES
**********************************/
@media (max-width: 1068px) {
  .wrapper {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 768px) {
  .blocktmp {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font: 12px/14px 'trebuc';
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 13px;
  }
  .info-block {
    padding-top: 10px;
    padding-left: 0;
  }
  .btn-callback {
    margin-top: 30px;
    margin-left: 0;
  }
  .navbar {
    margin-bottom: 10px;
  }
  .navbar-nav li a {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .sidebar-left {
    width: 22%;
  }
  .main-section {
    width: 58%;
  }
  .sidebar-right {
    width: 20%;
  }
  .banner-rectangle {
    padding: 5px 10px;
    background: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: 22px/24px;
    border: 1px solid #d00039;
  }
  .footer-top {
    margin-bottom: 20px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  body {
    font: 12px/14px 'trebuc';
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 13px;
  }
  .container {
    min-width: 290px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .sidebar-left,
  .main-section,
  .sidebar-right {
    width: 100%;
    margin-bottom: 20px;
  }
  #header {
    padding: 12px 14px 27px;
    padding-top: 70px;
  }
  #header .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: url("../img/header_bg.png");
    -webkit-box-shadow: 0px 2px 0px rgba(95,151,46,0.8);
    box-shadow: 0px 2px 0px rgba(95,151,46,0.8);
    padding: 3px 0;
  }
  .navbar-toggle {
    background: #fff;
  }
  .navbar-collapse {
    margin-top: 5px;
    background: #fff;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-header {
    padding-bottom: 3px;
  }
  .navbar-brand img {
    max-height: 60px;
  }
  .navbar-toggle {
    margin-top: 13px;
  }
  .logo {
    display: none;
  }
  .info-block {
    overflow: hidden;
    padding: 2px 0;
  }
  .info-block i {
    float: none;
    display: inline-block;
  }
  .info-block .info-text {
    float: none;
    vertical-align: top;
    padding-top: 7px;
    display: inline-block;
    text-align: left;
  }
  .btn-callback-container {
    position: absolute;
    bottom: -40px;
  }
  .btn-callback {
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .btn-mail {
    width: initial;
    padding: 6px 20px;
    font-size: 22px;
  }
  .category-section {
    margin-bottom: 15px;
  }
  .category-section ul {
    max-height: 90px;
    margin-bottom: 10px;
  }
  .banner-rectangle {
    margin-left: 0;
    padding: 5px 10px;
    background: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: 22px/24px;
    border: 1px solid #d00039;
  }
  .footer-top {
    font-size: 13px;
  }
  .footer-top nav {
    padding-left: inherit;
  }
  .footer-top nav:before {
    border: 0;
  }
  .about {
    font-size: 11px;
  }
}
@media (max-width: 460px) {
  .soc-links {
    width: 100%;
  }
  .soc-links .soc-links-col {
    float: left;
    padding: 0;
  }
  .soc-links a {
    display: inline-block;
  }
  .soc-links a i {
    margin-right: 8px;
  }
  .soc-links a span {
    display: none;
  }
}
