doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')

  body
    include partials/header

    .wrapper
      .main-container
        .container
          include partials/sidebar_left
          include partials/main_section
          include partials/sidebar_right
      include partials/footer


    .hidden
      i.sprite.sprite-arrow-left
      i.sprite.sprite-arrow-right
      i.sprite.sprite-compass
      i.sprite.sprite-headphones
      i.sprite.sprite-soc-fb
      i.sprite.sprite-soc-forsquare
      i.sprite.sprite-soc-instagram
      i.sprite.sprite-soc-ok
      i.sprite.sprite-soc-vk
      i.sprite.sprite-soc-youtube


    //- Development assets
    script(src='js/vendor/jquery-1.11.0.min.js')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/scripts.js')
