<i class="sprite sprite-arrow_left"></i>
<i class="sprite sprite-arrow_right"></i>
<i class="sprite sprite-compass"></i>
<i class="sprite sprite-headphones"></i>
<i class="sprite sprite-soc_fb"></i>
<i class="sprite sprite-soc_forsquare"></i>
<i class="sprite sprite-soc_instagramm"></i>
<i class="sprite sprite-soc_ok"></i>
<i class="sprite sprite-soc_vk"></i>
<i class="sprite sprite-soc_youtube"></i>