/**********************************
* VARIABLES
**********************************/
/**********************************
* FONTS
**********************************/
@font-face {
  font-family: 'trebuc';
  src: url("../fonts/trebuc.eot");
  src: local('Trebuchet MS'), url("../fonts/trebuc.woff") format('woff'), url("../fonts/trebuc.ttf") format('truetype');
}
@font-face {
  font-family: 'pf_kids';
  src: url("../fonts/PFKidsProGradeOne.eot");
  src: url("../fonts/PFKidsProGradeOne.eot") format('embedded-opentype'), url("../fonts/PFKidsProGradeOne.woff2") format('woff2'), url("../fonts/PFKidsProGradeOne.woff") format('woff'), url("../fonts/PFKidsProGradeOne.ttf") format('truetype'), url("../fonts/PFKidsProGradeOne.svg#PFKidsProGradeOne") format('svg');
}
/**********************************
* SPRITES
**********************************/
.sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}
.sprite-arrow-left {
  width: 9px;
  height: 13px;
  background-position: 0 0;
}
.sprite-arrow-right {
  width: 9px;
  height: 13px;
  background-position: -9px 0;
}
.sprite-compass {
  width: 46px;
  height: 46px;
  background-position: -18px 0;
}
.sprite-headphones {
  width: 46px;
  height: 46px;
  background-position: -64px 0;
}
.sprite-messanger {
  width: 46px;
  height: 46px;
  background-position: -110px 0;
}
.sprite-sms {
  width: 35px;
  height: 35px;
  background-position: -156px 0;
}
.sprite-soc-fb {
  width: 25px;
  height: 25px;
  background-position: -191px 0;
}
.sprite-soc-forsquare {
  width: 25px;
  height: 25px;
  background-position: -216px 0;
}
.sprite-soc-instagram {
  width: 25px;
  height: 25px;
  background-position: -241px 0;
}
.sprite-soc-ok {
  width: 25px;
  height: 25px;
  background-position: -266px 0;
}
.sprite-soc-vk {
  width: 25px;
  height: 25px;
  background-position: -291px 0;
}
.sprite-soc-youtube {
  width: 25px;
  height: 25px;
  background-position: -316px 0;
}
.sprite-telegram {
  width: 35px;
  height: 35px;
  background-position: -341px 0;
}
.sprite-viber {
  width: 35px;
  height: 35px;
  background-position: -376px 0;
}
.sprite-whatsapp {
  width: 35px;
  height: 35px;
  background-position: -411px 0;
}
/**********************************
* MAIN STYLES
**********************************/
body {
  background: #fbfbfb;
  background-image: url("../img/bg.png");
  font: 13px/16px 'trebuc';
  color: #333;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 14px;
}
.pf-kids {
  font-family: 'pf_kids';
}
.aligncenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.container {
  padding-left: 5px;
  padding-right: 5px;
}
.row {
  margin-left: -5px;
  margin-right: -5px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus,
.btn:active {
  outline: none;
}
.wrapper {
  width: 1068px;
  margin: -10px auto 0;
  z-index: 9;
  background: #fff;
  -webkit-box-shadow: 0 1px 8px rgba(0,1,3,0.27);
  box-shadow: 0 1px 8px rgba(0,1,3,0.27);
}
a {
  color: #eb009b;
}
a:hover {
  color: #a4036e;
}
a:hover {
  cursor: pointer;
}
.sidebar-left,
.main-section,
.sidebar-right {
  float: left;
  padding: 0 5px;
  padding-top: 12px;
}
.sidebar-left h2,
.main-section h2,
.sidebar-right h2 {
  margin-top: 0;
}
.main-container {
  padding: 43px 0;
  -webkit-box-shadow: 0px 1px 40px #f1f1f1;
  box-shadow: 0px 1px 40px #f1f1f1;
}
/**********************************
* header
**********************************/
#header {
  position: relative;
  min-height: 182px;
  padding: 10px 22px 14px;
  background: url("../img/header_bg.png") repeat-x;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  color: #fff;
  z-index: 10;
}
.header-top {
  margin-bottom: 8px;
}
.logo {
  display: inline-block;
  margin-top: 5px;
  text-align: center;
}
.logo h4 {
  color: #fff;
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}
.logo:hover,
.logo:focus {
  text-decoration: none;
}
.info-block {
  padding: 8px 0 0 0px;
}
.info-block i {
  display: inline-block;
}
.info-block .info-text {
  display: inline-block;
  width: 77%;
  padding-top: 5px;
  padding-left: 7px;
  font-size: 14px;
  vertical-align: top;
}
.info-block .info-text .phone-link {
  display: block;
  margin: 0 0 5px;
  font-size: 20px;
  line-height: 100%;
}
.info-block .info-text .phone-link:hover,
.info-block .info-text .phone-link:focus {
  text-decoration: none;
}
.info-block .info-text a,
.info-block .info-text small {
  font-size: 11.5px;
  color: #fff;
}
.message-list {
  margin-top: 8px;
  padding: 0;
}
.message-list li {
  display: inline-block;
  margin-left: 5px;
}
.message-list li:first-child {
  margin-left: 0;
}
.message-list li a {
  display: block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
}
.message-list li a.viber {
  background-image: url("../img/viber.png");
}
.message-list li a.whatsApp {
  background-image: url("../img/whatsApp.png");
}
.message-list li a.telegram {
  background-image: url("../img/telegram.png");
}
.message-list li a.sms {
  background-image: url("../img/sms.png");
}
.mess-icons {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}
.mess-icons.whatsapp {
  background-image: url("../img/whatsapp.png");
}
.mess-icons.viber {
  background-image: url("../img/viber.png");
}
.mess-icons.telegram {
  background-image: url("../img/telegram.png");
}
.phone-block {
  padding-left: 0px;
}
.phone-block .info-text {
  padding-top: 12px;
}
.messanger-block> i {
  background-image: url("../img/messanger-icon.png");
  width: 46px;
  height: 46px;
  display: inline-block;
}
.btn-callback {
  margin-top: 8px;
  margin-left: 50px;
  padding: 3px 26px;
  color: #333;
  font-size: 18px;
  background: #ffe138;
  background: -webkit-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: -moz-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: -o-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: -ms-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: linear-gradient(to bottom, #ffe554 0%, #ffde28 100%);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.47);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.47);
}
.btn-callback:hover,
.btn-callback:active {
  color: #a4036e;
  background: -webkit-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: -moz-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: -o-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: -ms-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: linear-gradient(to bottom, #ffde28 0%, #ffe554 100%);
}
.btn-download {
  width: 100%;
  margin: 0 0 10px;
  padding: 3px 5px;
  font-size: 14px;
}
.btn-content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar {
  background: #fff;
  min-height: 42px;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 4px;
  -webkit-box-shadow: 0px 2px 0px rgba(0,1,3,0.55);
  box-shadow: 0px 2px 0px rgba(0,1,3,0.55);
}
.navbar-collapse {
  padding: 0;
}
.navbar-nav li a {
  padding: 11px 16px;
  font-family: 'pf_kids';
  font-size: 24px;
  color: #333;
}
.navbar-nav li:first-child a {
  padding-left: 23px;
}
.navbar-brand {
  padding: 0 15px;
  height: inherit;
}
/**********************************
* sidebar-left
**********************************/
.sidebar-h2,
.sidebar-left h2,
.sidebar-right h2 {
  margin: 0 0 12px;
  font-family: 'pf_kids';
  line-height: 1;
}
.sidebar-left {
  float: left;
  width: 20%;
  padding-right: 10px;
}
.category-section {
  margin-bottom: 42px;
}
.category-section ul {
  max-height: 96px;
  overflow: hidden;
  list-style: none;
  margin-bottom: 22px;
  padding-left: 0;
}
.category-section.full-height ul,
.category-section .open {
  max-height: 100%;
}
.category-section li {
  padding-bottom: 4px;
}
.category-section a {
  text-decoration: none;
}
.category-section a:hover {
  text-decoration: underline;
}
.category-section .more-categories {
  text-decoration: none;
}
.category-section .more-categories .text {
  margin-right: 5px;
  border-bottom: 1px dotted #eb009b;
}
.category-section .more-categories:hover {
  text-decoration: none;
}
.category-section .more-categories:hover .text {
  border-bottom: none;
}
.category-section .more-categories:focus {
  outline: none;
  color: #a4036e;
}
.category-section .view-all {
  margin-top: 22px;
}
.category-section .view-all a {
  border-bottom: 1px dotted #eb009b;
}
.category-section .view-all a:hover {
  text-decoration: none;
  border-bottom: none;
}
.banner-rectangle {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  font: 23px/28px 'pf_kids';
  padding: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #d00039;
}
.banner-rectangle a {
  display: block;
}
/**********************************
* main-section
**********************************/
.main-section {
  width: 60%;
  padding: 12px;
}
.post-section {
  border: 1px solid rgba(200,200,200,0.35);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.post-section img {
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.post-section img.alignleft {
  float: left;
  margin-right: 10px;
}
.post-section img.alignright {
  float: right;
  margin-left: 10px;
}
.page-title {
  margin-bottom: 28px;
}
.stick-top {
  margin-top: 0;
}
.category-list {
  list-style: none;
  padding-left: 0;
}
.category-list li {
  display: inline-block;
}
.category-list li.current-category a {
  border-color: #eb009b;
}
.category-list li.current-category a:hover {
  border-color: #eb009b;
}
.category-list li a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 9px 18px;
  border: 1px solid #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.category-list li a:hover {
  text-decoration: none;
  border-color: #333;
}
.news-item {
  display: block;
  margin-bottom: 8px;
  padding: 7px;
  border: 1px solid rgba(200,200,200,0.35);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.news-item .news-miniature {
  float: left;
}
.news-thumb {
  display: table-cell;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 18px;
}
.news-content {
  display: table-cell;
  vertical-align: top;
  text-align: justify;
}
.news-content h4 {
  margin-top: 5px;
  margin-bottom: 16px;
  color: #d93260;
  text-align: left;
}
.news-content h4 a {
  text-decoration: underline;
}
.news-content h4 a:hover {
  text-decoration: none;
}
.news-content .news-text {
  color: #000;
  margin-bottom: 12px;
}
.news-content .date {
  color: #999;
}
.paginator {
  position: relative;
  overflow: auto;
  margin: 18px 0;
}
.paginator .prev.page-numbers,
.paginator .next.page-numbers {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  padding-top: 3px;
}
.paginator .prev.page-numbers {
  left: 0;
}
.paginator .next.page-numbers {
  right: 0;
}
.paginator ul {
  display: inline-block;
  padding-left: 0;
  list-style: none;
  text-align: center;
  width: 100%;
}
.paginator ul li {
  margin: 0px;
  width: 20px;
  display: inline-block;
  line-height: 20px;
}
.paginator ul li a,
.paginator ul li span {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  font-size: 14px;
  color: #333;
}
.paginator ul li a:hover,
.paginator ul li span:hover {
  text-decoration: none;
}
.paginator ul li .current {
  background: #80bf3a;
  color: #fff;
}
.google-map {
  margin: 10px 0;
}
.google-map iframe {
  width: 100%;
}
.social-likes {
  margin-top: 10px !important;
}
.video-container {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.our-team .page-content div {
  margin-bottom: 10px;
}
.our-team .page-content a {
  display: block;
  text-align: center;
h4
  text-align: center;
}
.our-team .page-content a img {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/**********************************
* sidebar-right
**********************************/
.sidebar-right {
  width: 20%;
  padding-left: 10px;
}
.sidebar-right .categories {
  margin-top: 20px;
}
.widget_search {
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.widget_search label {
  display: none;
}
.widget_search input[type="text"] {
  width: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  padding: 3px 32px 3px 3px;
}
.widget_search input[type="submit"] {
  position: absolute;
  right: 2px;
  top: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 0;
  color: transparent;
  background: url("../img/search.png") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}
.widget_search input[type="submit"]:focus {
  outline: none;
}
.widget_text {
  display: block;
}
.btn-mail {
  width: 100%;
  background: -webkit-linear-gradient(top, #ffe553 0%, #ffdf2a 100%);
  background: -moz-linear-gradient(top, #ffe553 0%, #ffdf2a 100%);
  background: -o-linear-gradient(top, #ffe553 0%, #ffdf2a 100%);
  background: -ms-linear-gradient(top, #ffe553 0%, #ffdf2a 100%);
  background: linear-gradient(to bottom, #ffe553 0%, #ffdf2a 100%);
  padding: 3px 0;
  font: 20px 'pf_kids';
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.47);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.47);
}
.btn-mail:active,
.btn-mail:hover {
  color: #a4036e;
  background: -webkit-linear-gradient(top, #ffdf2a 0%, #ffe553 100%);
  background: -moz-linear-gradient(top, #ffdf2a 0%, #ffe553 100%);
  background: -o-linear-gradient(top, #ffdf2a 0%, #ffe553 100%);
  background: -ms-linear-gradient(top, #ffdf2a 0%, #ffe553 100%);
  background: linear-gradient(to bottom, #ffdf2a 0%, #ffe553 100%);
}
.download-item {
  margin: 18px 0;
}
.download-item a {
  text-decoration: underline;
}
.download-item a:hover {
  text-decoration: none;
}
.download-item .filesize {
  margin-top: 2px;
  color: #999;
}
.soc-item {
  margin-bottom: 10px;
}
/**********************************
* Footer
**********************************/
#footer {
  background: #80bf3a;
  color: #fff;
}
#footer .phone-block {
  margin-top: 0px;
  padding-top: 0px;
}
.footer-top {
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
  font-size: 14px;
}
.footer-top nav {
  padding-left: 14px;
}
.footer-top nav:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  height: 140px;
  border-left: 1px solid #e1e1e1;
}
.footer-top h5 {
  margin: 8px 0 14px;
  font-weight: bold;
}
.footer-top ul {
  padding: 0;
  list-style: none;
}
.footer-top ul li {
  margin-bottom: 4px;
}
.footer-top a {
  color: #fff;
}
.footer-top .events-nav ul {
  width: 50%;
  float: left;
}
.metrics > a {
  float: left;
  margin-right: 4px;
}
.soc-links a {
  display: inline-block;
  margin-bottom: 5px;
}
.soc-links a i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.soc-links a span {
  display: inline-block;
  vertical-align: middle;
}
.soc-links a:hover i {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.soc-links a:hover span {
  text-decoration: underline;
}
.about {
  padding: 20px 0;
  background: #80bf3a;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
.about .container {
  padding: 0 18px;
}
.about a {
  margin: 0 2px;
  color: inherit;
}
/**********************************
* Modal
**********************************/
.modal-dialog {
  position: relative;
  width: 525px;
  height: 525px;
  background: url("../img/modal.png") no-repeat;
  top: 0;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
}
.modal-content {
  width: 270px;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0;
  right: 0;
  margin: auto;
  top: 60px;
}
.modal-content h2 {
  color: #222;
  font-family: "pf_kids";
  font-size: 35px;
  font-weight: normal;
  margin: 57px 0 25px;
  line-height: 20px;
}
.modal-content p {
  color: #333;
  font-family: "Trebuchet MS";
  font-size: 14px;
  margin-bottom: 15px;
}
.modal-content .wpcf7-form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-content .wpcf7-form-control:focus {
  outline: none;
}
.modal-content .wpcf7-submit {
  padding: 3px 26px;
  color: #333;
  font-size: 18px;
  background: #ffe138;
  background: -webkit-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: -moz-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: -o-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: -ms-linear-gradient(top, #ffe554 0%, #ffde28 100%);
  background: linear-gradient(to bottom, #ffe554 0%, #ffde28 100%);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.47);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.47);
}
.modal-content .wpcf7-submit:hover,
.modal-content .wpcf7-submit:active {
  color: #a4036e;
  background: -webkit-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: -moz-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: -o-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: -ms-linear-gradient(top, #ffde28 0%, #ffe554 100%);
  background: linear-gradient(to bottom, #ffde28 0%, #ffe554 100%);
}
.modal-close {
  background: url("../img/x.png") no-repeat;
  position: absolute;
  top: 51px;
  right: 100px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  z-index: 8040;
  border: none;
}
.modal-close:focus {
  outline: none;
}
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
  border: none;
  margin-top: 0;
}
.invalid .wpcf7-not-valid-tip {
  font-size: 0.75em;
}
.invalid p {
  margin-bottom: 10px;
}
#contact_modal .modal-content h2 {
  margin-top: 7px;
}
#contact_modal .modal-content textarea {
  resize: none;
  max-height: 80px;
}
.wpcf7-f266-p20-o1 .form-group {
  color: #333;
  font-family: "Trebuchet MS";
  font-size: 14px;
}
.wpcf7-form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}
.wpcf7-submit {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 26px;
  color: #333;
  font-size: 18px;
  background: #ffe138;
  background: -webkit-linear-gradient(top, #ffe554 0, #ffde28 100%);
  background: -moz-linear-gradient(top, #ffe554 0, #ffde28 100%);
  background: -o-linear-gradient(top, #ffe554 0, #ffde28 100%);
  background: -ms-linear-gradient(top, #ffe554 0, #ffde28 100%);
  background: linear-gradient(to bottom, #ffe554 0, #ffde28 100%);
  -webkit-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.47);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.47);
  box-shadow: 0 1px 1px rgba(0,0,0,0.47);
}
.wpcf7-submit:hover {
  color: #a4036e;
  background: -webkit-linear-gradient(top, #ffde28 0, #ffe554 100%);
  background: -moz-linear-gradient(top, #ffde28 0, #ffe554 100%);
  background: -o-linear-gradient(top, #ffde28 0, #ffe554 100%);
  background: -ms-linear-gradient(top, #ffde28 0, #ffe554 100%);
  background: linear-gradient(to bottom, #ffde28 0, #ffe554 100%);
}
.wpcf7-submit:focus {
  outline: none;
}
.form-comment {
  color: #999;
  font-family: arial;
  font-size: 12px;
  line-height: 18px;
}
/**********************************
* 404
**********************************/
.error-section {
  text-align: center;
}
.error-section h1 {
  font-size: 72px;
}
/**********************************
* instagram widget
**********************************/
.instagram-block {
  background-color: #f4f4f4;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.instagram-header {
  padding: 5px;
  background-color: #4f7ca5;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.instagram-header i {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}
div#sb_instagram {
  background: none !important;
}
#sb_instagram #sbi_images {
  padding: 2px 4px;
}
#sb_instagram .sbi_photo_wrap {
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}
/**********************************
* slider
**********************************/
.rslides_container {
  overflow: hidden;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 30px;
}
.rslides li {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  max-height: 300px;
}
.rslides_nav {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.35);
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 60%;
}
.rslides_nav.prev {
  left: -22px;
  background: #fff url("../img/slider-nav-left.png") no-repeat 28px center;
}
.rslides_nav.next {
  right: -22px;
  background: #fff url("../img/slider-nav-right.png") no-repeat 15px center;
}
.caption {
  background-color: rgba(114,180,56,0.9);
  font-size: 14px;
  padding-bottom: 21px;
}
.master-slider-parent {
  margin-bottom: 30px;
}
.ms-thumb-frame-selected img {
  border: 3px solid #80bf3a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100% !important;
  height: auto !important;
}
.ms-slide .ms-slide-bgcont {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}
.ms-inner-controls-cont {
  overflow: hidden;
}
.ms-skin-default .ms-nav-prev {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
  opacity: 1;
  -ms-filter: none;
  filter: none;
  filter: none;
  margin-top: 0 !important;
  top: 43% !important;
  left: -24px !important;
  background: url("../img/nav-left.png") 28px center no-repeat #fff !important;
}
.ms-skin-default .ms-nav-next {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
  opacity: 1;
  -ms-filter: none;
  filter: none;
  filter: none;
  margin-top: 0 !important;
  top: 43% !important;
  right: -24px !important;
  background: url("../img/nav-right.png") 12px center no-repeat #fff !important;
}
/**********************************
* MEDIA QUERIES
**********************************/
@media (max-width: 1068px) {
  .wrapper {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 768px) {
  .blocktmp {
    display: none;
  }
  .btn-download {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font: 12px/14px 'trebuc';
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4,
  .phone-link {
    font-size: 18px;
  }
  h5 {
    font-size: 13px;
  }
  .info-instagram {
    min-height: 102px;
  }
  .info-block {
    padding-top: 10px;
    padding-left: 0;
  }
  .btn-callback {
    margin-top: 8px;
    margin-left: 0;
  }
  .navbar {
    margin-bottom: 10px;
  }
  .navbar-nav li a {
    font-size: 20px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .sidebar-left {
    width: 20%;
  }
  .main-section {
    width: 60%;
  }
  .sidebar-right {
    width: 20%;
  }
  .category-section ul {
    max-height: 90px;
  }
  .banner-rectangle {
    padding: 5px 10px;
    background: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: 16px/18px pf_kids;
    border: 1px solid #eb009b;
  }
  .footer-top {
    margin-bottom: 0px;
    font-size: 13px;
  }
  .category-list li a {
    padding: 9px 12px;
  }
  .instagram-header {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .customize-support .navbar {
    padding-top: 46px;
  }
  body {
    font: 12px/14px 'trebuc';
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4,
  .phone-link {
    font-size: 18px;
  }
  h5 {
    font-size: 13px;
  }
  .container {
    min-width: 290px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .sidebar-left,
  .main-section,
  .sidebar-right {
    width: 100%;
    margin-bottom: 20px;
  }
  #header {
    padding: 12px 14px 0px;
    padding-top: 70px;
  }
  #header .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: url("../img/header_bg.png");
    -webkit-box-shadow: 0px 2px 0px rgba(95,151,46,0.8);
    box-shadow: 0px 2px 0px rgba(95,151,46,0.8);
    padding: 3px 0;
  }
  .navbar-toggle {
    background: #fff;
  }
  .navbar-collapse {
    margin-top: 5px;
    background: #fff;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-header {
    padding-bottom: 3px;
  }
  .navbar-brand img {
    max-height: 60px;
  }
  .navbar-toggle {
    margin-top: 13px;
  }
  .logo {
    display: none;
  }
  .info-block {
    overflow: hidden;
    padding: 10px 0;
  }
  .info-block i {
    float: none;
    display: inline-block;
  }
  .info-block .info-text {
    float: none;
    vertical-align: top;
    padding-top: 7px;
    display: inline-block;
    text-align: left;
  }
  .btn-callback-container {
    position: absolute;
    bottom: -40px;
  }
  .btn-callback {
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .btn-mail {
    width: initial;
    padding: 6px 20px;
    font-size: 22px;
  }
  .category-section {
    margin-bottom: 15px;
  }
  .category-section ul {
    max-height: 90px;
    margin-bottom: 10px;
  }
  .banner-rectangle {
    margin-left: 0;
    padding: 5px 10px;
    background: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: 22px/24px;
    border: 1px solid #eb009b;
  }
  .paginator {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-top {
    font-size: 13px;
  }
  .footer-top nav {
    padding-left: inherit;
  }
  .footer-top nav:before {
    border: 0;
  }
  .footer-top .events-nav ul {
    width: 100%;
    margin-bottom: 0;
  }
  .about {
    font-size: 11px;
  }
  .news-item {
    width: 100%;
  }
  .modal-dialog {
    width: 90%;
    height: 50%;
    background: #fff;
  }
  .modal-dialog .modal-close {
    top: 15px;
    right: 15px;
  }
  .modal-dialog .modal-content {
    width: 80%;
  }
  .modal-dialog .modal-content h2 {
    margin-top: 25px;
  }
}
@media (max-width: 640px) {
  #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
    width: 50%;
  }
}
@media (max-width: 460px) {
  .soc-links {
    width: 100%;
  }
  .soc-links .soc-links-col {
    float: left;
    padding: 0;
  }
  .soc-links a {
    display: inline-block;
  }
  .soc-links a i {
    margin-right: 8px;
  }
  .soc-links a span {
    display: none;
  }
}
