.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow-left {
    width: 9px;
    height: 13px;
    background-position: 0 0;
}

.sprite-arrow-right {
    width: 9px;
    height: 13px;
    background-position: -9px 0;
}

.sprite-compass {
    width: 46px;
    height: 46px;
    background-position: -18px 0;
}

.sprite-headphones {
    width: 46px;
    height: 46px;
    background-position: -64px 0;
}

.sprite-messanger {
    width: 46px;
    height: 46px;
    background-position: -110px 0;
}

.sprite-sms {
    width: 35px;
    height: 35px;
    background-position: -156px 0;
}

.sprite-soc-fb {
    width: 25px;
    height: 25px;
    background-position: -191px 0;
}

.sprite-soc-forsquare {
    width: 25px;
    height: 25px;
    background-position: -216px 0;
}

.sprite-soc-instagram {
    width: 25px;
    height: 25px;
    background-position: -241px 0;
}

.sprite-soc-ok {
    width: 25px;
    height: 25px;
    background-position: -266px 0;
}

.sprite-soc-vk {
    width: 25px;
    height: 25px;
    background-position: -291px 0;
}

.sprite-soc-youtube {
    width: 25px;
    height: 25px;
    background-position: -316px 0;
}

.sprite-telegram {
    width: 35px;
    height: 35px;
    background-position: -341px 0;
}

.sprite-viber {
    width: 35px;
    height: 35px;
    background-position: -376px 0;
}

.sprite-whatsapp {
    width: 35px;
    height: 35px;
    background-position: -411px 0;
}