footer#footer.clearfix
  .container
    .footer-top.row
      .menu-section.col-xs-6.col-sm-12.col-md-7
        .row
          nav.col-sm-4
            h5 О Поделкине
            ul
              li
                a Главная
              li
                a Новости
              li
                a Цены
              li
                a Наши клиенты
              li
                a Наша команда
              li
                a Контакты
          nav.col-sm-4
            h5 Мастер классы
            ul
              li
                a Рукоделие
              li
                a Роспись
              li
                a Декорирование
              li
                a Кулинария
              li
                a Анимация
              li
                a Новый год
          nav.col-sm-4
            h5 Дополнительно
            ul
              li
                a Новости
              li
                a Публикации в прессе
              li
                a Мероприятия
              li
                a Полезные статьи
      .soc-links.col-xs-6.col-sm-12.col-md-5
        .row
          h5 Мы в сетях:
          .soc-links-col.col-sm-5.col-md-6
            a(href="#")
              i.sprite.sprite-soc-vk
              span Мы в Vkontakte
            a(href="#")
              i.sprite.sprite-soc-fb
              span Мы в Facebook
            a(href="#")
              i.sprite.sprite-soc-youtube
              span Мы в YouTube
          .soc-links-col.col-sm-5.col-md-6
            a(href="#")
              i.sprite.sprite-soc-instagram
              span Мы в Instagram
            a(href="#")
              i.sprite.sprite-soc-ok
              span Мы в Одноклассники
            a(href="#")
              i.sprite.sprite-soc-forsquare
              span Мы в Forsquare
  .about
    .container
      p Творческая студия "Мастер Поделкин" готова предложить вам самые невероятные выездные занятия в формате handmade. Благодаря им, вы не только организуете интересный и увлекательный досуг,  но и поможете открыть творческие задатки каждого участника. Наши выездные мастер-классы будут полезны и интересны как детям, так и взрослым. Как показывает практика,  выездные мастер-классы актуальны и востребованы на свадьбе, дне рожднения, корпоративном мероприятии или детском празднике как полноценное развлечение на праздник наряду с активными игровыми программами, конкурсами и номерами оригинального жанра.
        a(href="#") |Подробнее...|












