header#header
  .container
    .header-top.row
      .col-md-6.header-left
        .row
          .col-md-5.col-sm-6
            a.logo(href="#")
              img.img-responsive(src="/img/logo.png")
          .col-md-7.col-sm-6
            .info-block.address-block
              i.sprite.sprite-compass
              .info-text Москва, Маяковский пр. 45
                <br>
                a(href="#") посмотреть на карте

      .col-md-6.header-right
        .row
          .col-md-5.col-sm-6.btn-callback-container
            button.btn.btn-callback Заказать звонок
          .col-md-7.col-sm-6
            .info-block.phone-block
              i.sprite.sprite-headphones
              .info-text
                h4 8 (495) 721-52-47
                small с 10:00 до 20:00 ежедневно
    .navbar.navbar-default
      .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.visible-xs(href="#")
            img(src="/img/logo.png")
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') О студии
            li
              a(href='#about') Новости
            li
              a(href='#contact') Мастер классы
            li
              a(href='#contact') Цены
            li
              a(href='#contact') Наши клиенты
            li
              a(href='#contact') Наша команда
            li
              a(href='#contact') Контакты

