main.main-section
	img.img-responsive(src="/img/instagram_tmp.png")

	h3.page-title Новости
	.news-section
		.news-item
			img.news-thumb(src="/img/news_tmp.png")
			.news-content
				h4
					a(href="#") Обновление серии мастерклассов
				.news-text
					p «Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.
				.date 12 сентября 2014

		.news-item
			img.news-thumb(src="/img/news_tmp.png")
			.news-content
				h4
					a(href="#") Обновление серии мастерклассов
				.news-text
					p «Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.
				.date 12 сентября 2014

		.news-item
			img.news-thumb(src="/img/news_tmp.png")
			.news-content
				h4
					a(href="#") Обновление серии мастерклассов
				.news-text
					p «Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.
				.date 12 сентября 2014

		.news-item
			img.news-thumb(src="/img/news_tmp.png")
			.news-content
				h4
						a(href="#") Обновление серии мастерклассов
				.news-text
					p «Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.
				.date 12 сентября 2014

	.paginator
		a.page-left
			i.sprite.sprite-arrow-left(href="#")
		ul
			li.active
				a 1
			li
				a 2
			li
				a 3
			li
				a 4
		a.page-right
			i.sprite.sprite-arrow-right(href="#")

