aside.sidebar-right
  button.btn.btn-mail Написать нам
  .download-item
    a(href="#") Скачать презентацию
    .filesize (1,2 mb)
  .download-item
    a(href="#") Скачать прайс
    .filesize (0,4 mb)
  .soc-section
    .soc-item
      img.img-responsive(src="/img/vk_tmp.png")
    .soc-item
      img.img-responsive(src="/img/fb_tmp.png")
    .soc-item
      img.img-responsive(src="/img/ok_tmp.png")
