aside.sidebar-left
  .categories
    .category-section
      h2 Мастер классы handmade:
      ul
        li
          a(href="#") Мыловарение
        li
          a(href="#") Гелевые свечи
        li
          a(href="#") Бижутерия, украшения
        li
          a(href="#") Бумажная пластика
        li
          a(href="#") Оригами
        li
          a(href="#") Мыловарение
        li
          a(href="#") Гелевые свечи
        li
          a(href="#") Бижутерия, украшения
        li
          a(href="#") Бумажная пластика
        li
          a(href="#") Оригами

      a.more-categories
        span.text показать все
        span.arr &darr;

    .category-section
      h2 Мастер-классы по росписи:
      ul
        li
          a(href="#") Пряники имбырные
        li
          a(href="#") Банданы
        li
          a(href="#") Бейсболки
        li
          a(href="#") Галстуки
        li
          a(href="#") Футболки
      a.more-categories
        span.text показать все
        span.arr &darr;

    .category-section
      h2 Мастер-классы по декорированию:
      ul
        li
          a(href="#") Декупаж
        li
          a(href="#") Волшебные палочки
        li
          a(href="#") Вуалетки
        li
          a(href="#") Карнавальные маски
        li
          a(href="#") Веера
      a.more-categories
        span.text показать все
        span.arr &darr;

    .category-section
      h2 Вкусныё мастер-классы:
      ul
        li
          a(href="#") Кулинарный курс
        li
          a(href="#") Суши
        li
          a(href="#") Тирамису
        li
          a(href="#") Роспись пряников, куличей, блинов
        li
          a(href="#") Шоколадные конфеты
      a.more-categories
        span.text показать все
        span.arr &darr;

    .category-section
      h2 Анимация, активности:
      ul
        li
          a(href="#") Акваргрим, боди-арт, тату
        li
          a(href="#") Твистинг
        li
          a(href="#") Плетение косичек
        li
          a(href="#") Висаж, прически
        li
          a(href="#") Шаржист, художник
      a.more-categories
        span.text показать все
        span.arr &darr;

  .banner-rectangle Хочешь интересно провести время?<br>Мастер-классы в студии&nbsp;
      a(href="http://podelkinclub.ru") Podelkinclub.ru

