.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow_left {
    width: 9px;
    height: 13px;
    background-position: 0 0;
}

.sprite-arrow_right {
    width: 9px;
    height: 13px;
    background-position: -9px 0;
}

.sprite-compass {
    width: 46px;
    height: 46px;
    background-position: -18px 0;
}

.sprite-headphones {
    width: 46px;
    height: 46px;
    background-position: -64px 0;
}

.sprite-soc_fb {
    width: 28px;
    height: 28px;
    background-position: -110px 0;
}

.sprite-soc_forsquare {
    width: 25px;
    height: 25px;
    background-position: -138px 0;
}

.sprite-soc_instagramm {
    width: 25px;
    height: 25px;
    background-position: -163px 0;
}

.sprite-soc_ok {
    width: 29px;
    height: 27px;
    background-position: -188px 0;
}

.sprite-soc_vk {
    width: 27px;
    height: 27px;
    background-position: -217px 0;
}

.sprite-soc_youtube {
    width: 28px;
    height: 27px;
    background-position: -244px 0;
}
