@import 'nib'

/**********************************
* VARIABLES
**********************************/
wrapperWidth    = 1068px
mediaLGmin      = 1200px
mediaMDmax      = mediaLGmin - 1
mediaMDmin      = 992px
mediaSMmax      = mediaMDmin - 1
mediaSMmin      = 768px
mediaXSmax      = mediaSMmin - 1
mediaXXSmax     = 460px

mainColor       = #333
mainBg          = #fbfbfb
blogColor       = #000
infoColor       = #999
defLinkColor    = #d00039
defLinkHover    = #a4036e
linkColor       = defLinkColor
linkHover       = defLinkHover
buttonColor     = #333
buttonHover     = defLinkHover
navLink         = #333
categoryList    = defLinkColor
banner          = #232323
h4color         = #d93260
paginatorActive = #8ac73b
footerNavColor  = #111970
aboutColor      = #fff
aboutBg         = #80bf3a

/**********************************
* FONTS
**********************************/

@font-face {
  font-family: 'trebuc';
  src: url('../fonts/trebuc.eot');
  src: local('Trebuchet MS'), url('../fonts/trebuc.woff') format('woff'), url('../fonts/trebuc.ttf') format('truetype');
}

@font-face {
  font-family: 'pf_kids';
  src: url('../fonts/PFKidsProGradeOne.eot');
  src: url('../fonts/PFKidsProGradeOne.eot') format('embedded-opentype'),
     url('../fonts/PFKidsProGradeOne.woff2') format('woff2'),
     url('../fonts/PFKidsProGradeOne.woff') format('woff'),
     url('../fonts/PFKidsProGradeOne.ttf') format('truetype'),
     url('../fonts/PFKidsProGradeOne.svg#PFKidsProGradeOne') format('svg');
}


/**********************************
* SPRITES
**********************************/

.sprite
  background-image url(../img/spritesheet.png)
  background-repeat no-repeat
  display block

.sprite-arrow-left
  width 9px
  height 13px
  background-position: 0 0

.sprite-arrow-right
  width 9px
  height 13px
  background-position: -9px 0

.sprite-compass
  width: 46px
  height: 46px
  background-position: -18px 0

.sprite-headphones
  width: 46px
  height: 46px
  background-position: -64px 0

.sprite-soc-fb
  width: 28px
  height: 28px
  background-position: -110px 0

.sprite-soc-forsquare
  width 25px
  height 25px
  background-position -138px 0

.sprite-soc-instagram
  width 25px
  height 25px
  background-position -163px 0

.sprite-soc-ok
  width 27px
  height 27px
  background-position: -190px 0

.sprite-soc-vk
  width: 27px
  height: 27px
  background-position: -217px 0

.sprite-soc-youtube
  width 28px
  height 27px
  background-position: -244px 0


/**********************************
* MAIN STYLES
**********************************/

body
  background mainBg
  background-image url('../img/bg.png')
  font 13px/16px 'trebuc'
  color mainColor

h1
  font-size 30px

h2
  font-size 26px

h3
  font-size 24px

h4
  font-size 20px

h5
  font-size 14px

.pf-kids
  font-family 'pf_kids'

.container
  padding-left 5px
  padding-right 5px

.row
  margin-left -5px
  margin-right -5px

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
  padding-left 5px
  padding-right 5px

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus
.btn:focus
.btn:active
  outline none

.wrapper
  width wrapperWidth
  margin -10px auto 0
  z-index: 9;
  background #fff
  box-shadow 0 1px 8px rgba(0,1,3,.27);

a
  color defLinkColor
  &:hover
    color defLinkHover

a:hover
  cursor pointer

.sidebar-left
.main-section
.sidebar-right
  float left
  padding 0 5px

.main-container
  padding 43px 0
  box-shadow 0px 1px 40px #f1f1f1

/**********************************
* header
**********************************/

#header
  position: relative
  min-height 182px
  padding 12px 22px
  background url('../img/header_bg.png') repeat-x
  background-size contain
  color #fff
  z-index 10

.header-top
  margin-bottom 29px


.info-block
  padding 22px 0 0 26px
  i
    display inline-block
  .info-text
    display inline-block
    padding-top 12px
    padding-left 7px
    font-size 14px
    vertical-align top
    h4
      margin 0 0 5px
      line-height 100%
    a
    small
      font-size 12px
      color #fff

.phone-block
  padding-left 55px


.btn-callback
  margin-top 35px
  margin-left 32px
  padding 3px 26px
  color buttonColor
  font-size 18px
  background #ffe138
  background linear-gradient(to bottom, #ffe554 0%,#ffde28 100%)
  border-radius 6px
  box-shadow 0px 1px 1px rgba(0,0,0,.47)
  &:hover
  &:active
    color buttonHover
    background linear-gradient(to bottom, #ffde28 0%,#ffe554 100%)

.navbar
  background #fff
  min-height 42px
  border none
  border-radius 0
  margin-bottom 0
  box-shadow 0px 2px 0px rgba(0,1,3,0.55)

.navbar-collapse
  padding 0

.navbar-nav
  li
    a
      padding-top 11px
      padding-bottom 11px
      padding-left 17px
      padding-right 17px
      font-family 'pf_kids'
      font-size 24px
      color: navLink;
    &:first-child
      a
        padding-left 23px

.navbar-brand
  padding 0 15px
  height inherit

/**********************************
* sidebar-left
**********************************/

.sidebar-left
  float left
  width 28%
  padding-right 10px
  h2
    margin 0 0 12px
    font-family 'pf_kids'
    line-height 1

.category-section
  margin-bottom 42px
  ul
    max-height 90px
    overflow hidden
    list-style none
    margin-bottom 22px
    padding-left 0
  .open
    max-height 100%
  li
    padding-bottom 4px
  a
    text-decoration underline
    &:hover
      text-decoration none
  .more-categories
    text-decoration none
    .text
      margin-right 5px
      border-bottom 1px dotted categoryList
    &:hover
      .text
        border-bottom none

.banner-rectangle
  background url('../img/banner_stroke.png') no-repeat
  background-size contain
  font 24px/28px 'pf_kids'
  padding 30px 22px
  margin-left -20px
  a
    display block
    color banner

/**********************************
* main-section
**********************************/

.main-section
  width 55%
  padding 0 12px

.page-title
  margin-bottom 28px

.news-item
  display table
  margin-bottom 8px
  padding 7px 7px 16px
  border 1px solid rgba(200,200,200,.35)
  border-radius 10px

.news-thumb
  display table-cell
  width 83px
  height 83px
  border-radius 5px
  margin-right 18px
.news-content
  display table-cell
  vertical-align top
  h4
    margin-top 5px
    margin-bottom 16px
    color h4color
    a
      text-decoration underline
      &:hover
        text-decoration none
  .news-text
    color blogColor
    margin-bottom 12px
  .date
    color infoColor

.paginator
  overflow auto
  margin 18px 0
  .page-left
    float left
    width 5%
  .page-right
    float right
    width 5%
    i
      float right
  ul
    float left
    width 90%
    padding-left 0
    list-style none
    text-align center
    li
      margin 0px
      min-width 20px
      line-height 20px
      display inline-block
      border-radius 50%
      a
        display block
        font-size 14px
        color mainColor
        &:hover
          text-decoration none
    li.active
      background paginatorActive
      a
        color #fff


/**********************************
* sidebar-right
**********************************/

.sidebar-right
  width 17%

.btn-mail
  width 100%
  background linear-gradient(to bottom, #ffe553 0%,#ffdf2a 100%)
  padding: 3px 0;
  font 20px 'pf_kids'
  border-radius 6px
  box-shadow 0px 1px 1px rgba(0,0,0,.47)
  &:active
  &:hover
    color buttonHover
    background linear-gradient(to bottom, #ffdf2a 0%,#ffe553 100%)

.download-item
  margin 18px 0
  a
    text-decoration underline
    &:hover
      text-decoration none
  .filesize
    margin-top 2px
    color infoColor

.soc-item
  margin-bottom 10px


/**********************************
* Footer
**********************************/

.footer-top
  padding-top 40px
  padding-bottom 20px
  position relative
  color footerNavColor !important
  font-size 14px
  nav
    padding-left 14px
    &:before
      content ""
      position absolute
      top 4px
      left 0
      height 140px
      border-left 1px solid #e1e1e1
  h5
    margin 8px 0 14px
    font-weight bold
  ul
    padding 0
    list-style none
    li
      margin-bottom 4px
  a
    color inherit

.soc-links
  a
    display block
    margin-bottom 5px
    i
      display inline-block
      vertical-align middle
      margin-right 11px
    span
      display inline-block
      vertical-align middle
    &:hover
      span
        text-decoration underline

.about
  padding 20px 0
  background aboutBg
  color aboutColor
  font-weight bold
  font-size 12px
  .container
    padding 0 18px
  a
    margin 0 2px
    color inherit



/**********************************
* MEDIA QUERIES
**********************************/

// wrapper with white bg
@media(max-width: wrapperWidth)
  .wrapper
    width 100%


// medium devices and more
@media(min-width: mediaMDmin)
  .container
    width 960px


// tablets and more
@media(min-width: mediaSMmin)
  .blocktmp
    display none


// tablets only
@media(min-width: mediaSMmin) and (max-width: mediaSMmax)
  body
    font 12px/14px 'trebuc'
  h1
    font-size 26px

  h2
    font-size 24px

  h3
    font-size 22px

  h4
    font-size 18px

  h5
    font-size 13px
  .info-block
    padding-top 10px
    padding-left 0
  .btn-callback
    margin-top 30px
    margin-left 0
  .navbar
    margin-bottom 10px
  .navbar-nav
    li
      a
        font-size 20px
        padding-left 12px
        padding-right 12px
  .sidebar-left
    width 22%
  .main-section
    width 58%
  .sidebar-right
    width 20%
  .banner-rectangle
    padding 5px 10px
    background none
    border-radius 10px
    font 22px/24px
    border 1px solid defLinkColor
  .footer-top
    margin-bottom 20px
    font-size 13px


// phones only
@media(max-width: mediaXSmax)
  body
    font 12px/14px 'trebuc'
  h1
    font-size 26px

  h2
    font-size 24px

  h3
    font-size 22px

  h4
    font-size 18px

  h5
    font-size 13px
  .container
    min-width 290px
    padding-left 15px
    padding-right 15px
  .row
    margin-left 0px
    margin-right 0px
  .sidebar-left
  .main-section
  .sidebar-right
    width 100%
    margin-bottom 20px
  #header
    padding: 12px 14px 27px;
    padding-top 70px
    // text-align center
    .container
      padding-left 0px
      padding-right 0px

  .navbar
    position fixed
    width 100%
    top 0
    left 0
    background url('../img/header_bg.png')
    box-shadow 0px 2px 0px rgba(95,151,46,0.8)
    padding 3px 0
  .navbar-toggle
    background #fff
  .navbar-collapse
    margin-top 5px
    background #fff
  .navbar-nav
    margin 0
  .navbar-header
    padding-bottom 3px
  .navbar-brand
    img
      max-height 60px
  .navbar-toggle
    margin-top 13px

  .logo
    display none
  .info-block
    overflow hidden
    padding 2px 0
    i
      float none
      display inline-block
    .info-text
      float none
      vertical-align top
      padding-top 7px
      display inline-block
      text-align left
  .btn-callback-container
    position absolute
    bottom -40px
  .btn-callback
    margin-top 5px
    margin-left 0
    margin-bottom 5px
    font-size 14px
  .btn-mail
    width initial
    padding 6px 20px
    font-size 22px

  .category-section
    margin-bottom 15px
    ul
      max-height 90px
      margin-bottom 10px

  .banner-rectangle
    margin-left 0
    padding 5px 10px
    background none
    border-radius 10px
    font 22px/24px
    border 1px solid defLinkColor

  .footer-top
    font-size 13px
    nav
      padding-left inherit
      &:before
        border 0

  .about
    font-size 11px


// extrasmall phones only
@media(max-width: mediaXXSmax)
  .soc-links
    width 100%
    .soc-links-col
      float left
      padding 0
    a
      display inline-block
      i
        margin-right 8px
      span
        display none

